#comp-cate-item {

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 300ms;
    border-radius: 4px;

    $avatar-size: 48px;
    .avatar {
      width: $avatar-size;
      height: $avatar-size;
      margin: 4px;
    }

    .text-field {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 8px;

      .name {
        font-size: 16px;
        color: black;
      }

      .desc {
        font-size: 14px;
        color: #707070;
      }
    }
  }

  .container:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
