#comp-cate-Search{

  display: flex;
  flex-direction: column;
  width: 411px;
  height: 484px;

  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px) saturate(150%);
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 15px;
    .input-search {
      border-radius: 6px;
    }
  }
  .Dynamic-Tag-radio-Group{
    margin:5px 15px;
  }
  .title{
    margin:15px 15px 5px 15px;
    font-size: 24px;
    color: black;
  }
  .related-tag-radio-Group{
    font-size: 20px;
    color: black;
    margin:15px 15px 0px 15px;
  }
  .senior-search{
    text-align :center;
    font-size: 20px;
    color: #CECECE;
  }
}
