#comp-footer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin: 20px 0;

  .text-field {
    color: #707070;
    margin: 4px;
    font-size: 15px;
    z-index: 0;
  }

}
