#comp-new-reply{

  display: flex;
  flex-direction: column;
  width: 800px;
  height: 1080px;

  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px) saturate(150%);
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

  .page{
    display: flex;
    margin:15px;
    align-items: center;
    .page-word{
      font-size: 18px;
      color: black;

    }
    .Pagination{
      margin:0px 15px;
    }
  }
  .post{
    display: flex;
    margin:15px;
    align-items: center;
    .post-word{
      font-size: 18px;
      color: black;
    }
    .Radio-Group{
      color: #707070;
      margin:0px 20px;
    }
  }
  .operate{
    display: flex;
    margin:15px;
    align-items: center;
    .operate-word{
      font-size: 18px;
      color: black;
    }
    .tip-off{
      display: flex;
      align-items: center;
      margin:0px 15px;
      .tip-off-word{
        font-size: 16px;
        color: black;
        margin:0px 5px;
      }

      .tip-off-Icon {
        width: 20px;
        height: 20px;
      }
    }
    .return{
      display: flex;
      align-items: center;
      margin:0px 15px;
      .return-word{
        font-size: 16px;
        color: black;
        margin:0px 5px;
      }
      .return-Icon {
        width: 20px;
        height: 20px;
      }
    }


  }
}
