#comp-new-reply {

  display: flex;
  flex-direction: column;
  width: 800px;
  height: 1080px;


  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px) saturate(150%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

  .new-reply-post-word {
    font-size: 28px;
    color: black;
    margin: 10px 15px 20px 15px;
  }
  .new-will-reply-post-word {
    font-size: 24px;
    color: black;
    margin: 15px 15px 10px 15px;
  }
  .new-reply-post {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ACACAC;
    margin: 15px 15px 10px 15px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px) saturate(150%);
    .new-will-reply-post {
      margin: 5px;
    }
  }
    .new-will-reply-post-word {
      font-size: 24px;
      color: black;
      margin: 15px 15px 10px 15px;
    }


}