#comp-sign-card {

  display: flex;
  align-items: center;
  justify-content: center;

  .bg-frame-container {
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 560px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px) saturate(150%);
  }

  .card-title {
    font-size: 28px;
    color: black;
    text-align: center;
    margin: 20px 0 28px 0;
  }

  $favicon_size: 100px;
  .card-favicon {
    width: $favicon_size;
    height: $favicon_size;
    margin: 4px 20px;
  }
}
