#comp-theme-content-card{
  .container{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    width: 95%;
    margin: 2.5%;
    .top-and-center{
      height: 80%;
      .top{

      .title{
        color: black;
        font-size: 24px;
      }
      .theme-info{
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;
        .avatar{
          size:34px;
        }
        .editor-name-and-edit-time{
          margin-left: 11px;
          font-size: 18px;
        }
      }
    }
      .center{
        width: 90%;
        margin: 5%;
        height: 75%;
        font-size: 20px;
        border-style: hidden;
        overflow: scroll;
        overflow-scrolling: auto;

        // hidden;
      }
    }

    .bottom{
      position: relative;
      left: 8px;
      bottom: 10px;
      width: 100%;

      .tags{

        font-size: 18px;
      }
      .theme-info-2{
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        .reply-and-read-number{
          font-size: 20px;

        }
        .update-time{
          font-size: 20px;

        }
      }
    }
  }
}