#comp-top-bar {

  z-index: 10;
  position: fixed;
  top: 0;

  .container {
    display: flex;
    width: 100%;
    height: 48px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px) saturate(150%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

    $title-width: 200px;
    $favicon-size: 36px;

    .logo-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: $title-width;

      .favicon {
        width: $favicon-size;
        height: $favicon-size;
        margin: 6px;
        user-select: none;
      }

      .title {
        font-size: 20px;
        color: black;
        margin: 0 10px;
        user-select: none;
      }
    }

    .entry-groups {
      width: $title-width;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .user-entry {
        font-size: 28px;
        color: #707070;
        margin-right: 20px;
      }

      .loading {
        margin: 4px;
      }
    }
  }

  .comp-search-bar {
    width: calc(100vw - 400px); // 100vw - 2$title-width
    display: flex;
    align-items: center;
    justify-content: center;

    .input-search {
      width: 300px;
      border-radius: 16px;
      background-color: rgba(255, 255, 255, 0.5) !important;
    }
  }

  .ant-input {
    background-color: transparent;
  }

  .ant-tooltip-open {
    z-index: 1020;
  }

}
