#comp-user-center-view {

  width: 100%;

  .card-container {

    width: 100%;
    padding-bottom: 64px;

    .nav-bar {

      display: flex;
      flex-direction: row;
      width: 420px;
      justify-content: space-around;
      align-items: center;
      margin: 30px 28px;

      .nav-item {
        transition: 200ms;
        font-size: 16px;
        color: #707070;
        display: flex;
        width: 72px;
        height: 30px;
        text-align: center;
      }

      .nav-item:hover {
        font-size: 19px;
        color: black;
      }

      .selected {
        color: black;
        font-size: 17px;
      }

    }
  }

  .tab-message {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tab-favorite {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}
