#comp-user-info-card {


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
  }

  .group {
    opacity: 55%;
  }

}
