body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {

  .page {
    margin-top: 64px;
    margin-bottom: 40px;
  }
}

.ant-popover-arrow {
  visibility: hidden;
}

.ant-popover-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px) saturate(150%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.ant-notification-topRight {
  .ant-notification-notice {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px) saturate(150%);
  }
}

.ant-message-notice-content {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px) saturate(150%);
}
